services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: guess-title-game-api
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - ENV=development
