services:
  db:
    image: postgres:16-alpine
    container_name: guess-title-game-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: guess_title_game
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    container_name: guess-title-game-migrate
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./db/migrations:/migrations
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://postgres:postgres@db:5432/guess_title_game?sslmode=disable",
        "up"
      ]
    restart: on-failure

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: guess-title-game-api
    depends_on:
      migrate:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - ENV=development
      - SERVER_PORT=8080
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=guess_title_game
      - DB_SSL_MODE=disable

volumes:
  postgres_data:
